{{ define "Index" }}
    {{ template "Header" }}
        {{ template "Menu" }}
        <h2>Usuários Cadastrados</h2>
        <table border="1">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Email</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                <tr>
                    <td>{{ .Id }}</td>
                    <td>{{ .Nome }}</td>
                    <td>{{ .Email }}</td>
                    <td><a href="/show?id={{ .Id }}">Vizualizar</a> | <a href="/edit?id={{ .Id }}">Vizualizar</a></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        {{ template "Footer" }}
{{ end }}