{{ define "New" }}
    {{ template "Header" }}
        {{ template "Menu" }}
        <h2> Registro {{ .Id }} </h2>
        <p>Nome: {{ .Name }} </p>
        <p>Email: {{ .Email }} </p>
    {{ template "Footer" }}
{{ end }}
